@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


html{
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif, 'arial';
}

.audiowide{
    font-family: "Audiowide" !important;
}

.brand{
    height: 80px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}